.input-checkbox {
  @extend .input-base;
  cursor: pointer;

  .input-checkbox__inner {
    .input-checkbox__slider {
      width: $sizeCheckbox * 2;
      height: $sizeCheckbox;
      border: $border;
      border-radius: $sizeCheckbox;
      position: relative;

      .input-checkbox__indicator {
        position: absolute;
        top: 50%;
        left: 2px;
        transform: translateY(-50%);
        width: $sizeCheckbox - 4px;
        height: $sizeCheckbox - 4px;
        border: $border;
        border-radius: $sizeCheckbox;
        transition: $transition;
      }
    }
  }

  &.active {
    .input-checkbox__inner .input-checkbox__slider .input-checkbox__indicator {
      transform: translate($sizeCheckbox - 2px, -50%);
    }
  }
}
